/* Site Jpousong */

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Impact, Georgia, Arial;
  background-color: #b0c4de;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#bloc_page {
  width: 1000px;
  margin: auto;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #bloc_page {
    width: 750px;
  }
}
@media screen and (max-width: 768px) {
  #bloc_page {
    width: 500px;
  }
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
h1 {
  color: #fff;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
    margin-top: -10px;
  }
  .presentation {
    font-size: 0.75rem;
  }
}
header,
main,
section,
footer {
  margin: 40px auto;
}

/***** LOADING SPINNER *****/
.loader {
  height: 100vh;
  -webkit-animation: spin 5s 1.5s both;
  animation: spin 5s 1.5s both;
}
.center {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
}
.wave {
  width: 10px;
  height: 200px;
  background: -o-linear-gradient(45deg, cyan, #fff);
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  -webkit-animation: wave 1s linear infinite;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave span {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}
.wave:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes spin {
  to {
    opacity: 0;
    height: 0;
    width: 0;
  }
}

@keyframes spin {
  to {
    opacity: 0;
    height: 0;
    width: 0;
  }
}
/***** END SPINNER *****/

/***** HEADER *****/

#entete1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  justify-items: center;
  margin: 20px;
}

#entete1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#entete1 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#entete1 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

#entete1 > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

#entete1 > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

#entete1 > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

#entete1 > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

#entete1 > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}
.logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: 1 / 3 / 2 / 7;
  width: 50%;
  border-radius: 15% 30% 15% 30%;
}
.logo img {
  border-radius: 30% 10% 30% 10%;
}
.btn {
  text-align: center;
  width: 60px;
  height: 60px;
  padding-top: 12px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #000;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition: 0.7s; /*chrome,safari,android,...*/
  -moz-transition: 0.7s; /*mozilla*/
  -ms-transition: 0.7s; /*microsoft*/
  -o-transition: 0.7s; /*opera*/
  font-size: 22px;
  color: #000;
}
.btn:hover {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  background-color: #4682b4;
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}
.fa-info:hover,
.fa-camera:hover,
.fa-icons:hover,
.fa-envelope:hover {
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}
.btn1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}
.btn2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}
.btn3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 1 / 7 / 2 / 8;
}
.btn4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-area: 1 / 8 / 2 / 9;
}

@media screen and (max-width: 768px) {
  #entete1 {
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr 20px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
  #entete1 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #entete1 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #entete1 > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  #entete1 > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  #entete1 > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #entete1 > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  #entete1 > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  #entete1 > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 1 / 1 / 2 / 5;
  }
  .btn1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  .btn2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .btn3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 3 / 4;
  }
  .btn4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2 / 4 / 3 / 5;
  }
}
/***** END HEADER *****/

/***** BANNIERE *****/
@media screen and (max-width: 768px) {
  #entete2 {
    display: none;
  }
}
#entete2 {
  margin-top: 15px;
  height: 200px;
  border-radius: 5px;
  background: url("../img/bcgd003.jpg") no-repeat;
  position: relative;
  -webkit-box-shadow: 0px 4px 4px #1c1a19;
  box-shadow: 0px 4px 4px #1c1a19;
  margin: 40px;
}
#banniere {
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
  width: 99.5%;
  height: 33px;
  padding-top: 15px;
  padding-left: 4px;
  background-color: rgba(24, 24, 24, 0.8);
  color: ivory;
  font-size: 0.8em;
}
/***** END BANNIERE *****/

/***** MAIN *****/
.presentation {
  text-align: center;
}
.guitare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100px;
  -webkit-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.guitare img:hover {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .guitare {
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .guitare {
    display: none;
  }
}

.photoAnnonce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 400px;
  margin: 40px auto;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photoAnnonce {
    height: 300px;
    margin: 30px auto;
  }
}
@media screen and (max-width: 768px) {
  .photoAnnonce {
    height: 200px;
    margin: 20px auto;
  }
}

/***** END MAIN *****/

/***** LECTEUR AUDIO *****/
#lecteurAudio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* remettre (3, 1fr) quand y aura 3 titres */
  -ms-grid-rows: 1fr 15px 1fr;
  grid-template-rows: repeat(
    2,
    1fr
  ); /* remettre (1, 1fr) quand y aura 3 titres */
  grid-gap: 5px;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 600;
  padding: 2rem 0px;
}
#lecteurAudio > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#lecteurAudio > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
#lecteurAudio > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
#lecteurAudio > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.piste1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}
.piste2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}
.piste3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}
.audio1 {
  /* A supprimer quand y aura 3 titres */
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}
.audio2 {
  /* A supprimer quand y aura 3 titres */
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}
.audio1,
.audio2,
.audio3 {
  border: solid 2px #4682b4;
  border-radius: 50px;
}
.audio1:hover,
.audio2:hover,
.audio3:hover {
  border: dotted 2px ghostwhite;
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #lecteurAudio {
    /***A garder quand il y aura 3 titres***/
    /*-ms-grid-rows: 1fr 5px 1fr 5px 1fr 5px 1fr;
    grid-template-rows: repeat(4, 1fr);
     -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: end;
        -ms-flex-align: end;
    align-items: flex-end;*/
    grid-gap: 0px;
    font-size: 0.8rem;
    padding: 1rem 0px;
    margin-bottom: 3rem;
  }
  #lecteurAudio > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #lecteurAudio > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #lecteurAudio > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  #lecteurAudio > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  #lecteurAudio > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #lecteurAudio > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  #lecteurAudio > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  #lecteurAudio > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  #lecteurAudio > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  #lecteurAudio > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  #lecteurAudio > *:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  #lecteurAudio > *:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
  }
  #lecteurAudio > *:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  #lecteurAudio > *:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  #lecteurAudio > *:nth-child(15) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
  fi#lecteurAudio > *:nth-child(16) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
  }
  .piste1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  .audio1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
  }
  .piste2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 1 / 3 / 2 / 5;
  }
  .audio2 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 2 / 3 / 2 / 5;
  }
  .piste3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 3 / 1 / 4 / 5;
  }
  .audio3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 4 / 1 / 5 / 5;
  }
}

@media screen and (max-width: 768px) {
  #lecteurAudio {
    display: block;
    font-size: 0.7rem;
    padding: 0.8rem 0px;
  }

  .piste2 {
    padding-top: 15px;
  }
  .piste3 {
    padding-top: 15px;
  }
}
/***** END LECTEUR AUDIO *****/

/***** SECTION *****/
.titreh2 {
  display: none;
}
.liens1 {
  display: none;
}
@media screen and (max-width: 768px) {
  .liens1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr 20px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
  .liens1 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .liens1 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .liens1 > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .liens1 > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .liens1 > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .liens1 > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .liens1 > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .liens1 > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .gmail {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .youtube {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 2 / 4;
  }
  .facebook {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .instagram {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2 / 4 / 3 / 5;
  }

  .liens1 img {
    height: 60px;
    -webkit-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .liens1 img:hover {
    -webkit-transform: scale(1.2) rotate(30deg);
    -ms-transform: scale(1.2) rotate(30deg);
    transform: scale(1.2) rotate(30deg);
    cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
  }
}
.liens2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.liens2 img {
  height: 75px;
  padding: 0 50px;
  -webkit-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.liens2 img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background-color: #4682b4;
  border-radius: 60%;
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .liens2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .liens2 img {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .liens2 {
    display: none;
  }
}
/***** END SECTION *****/

/***** FOOTER *****/
@media screen and (min-width: 1024px) {
  footer {
    margin-top: 100px;
  }
}
.fred {
  position: fixed;
  bottom: 0;
  padding: 10px;
  text-align: start;
  font-size: 10px;
  width: 100%;
  color: ivory;
}

.hautpage {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  margin-top: 4rem;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hautpage {
    font-size: 2.4rem;
    margin-top: 7rem;
  }
}
@media screen and (max-width: 768px) {
  .hautpage {
    font-size: 1.8rem;
    margin-top: 10rem;
  }
}
.fa-arrow-alt-circle-up {
  -webkit-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.fa-arrow-alt-circle-up:hover {
  -webkit-transform: scale(1.1) rotate(-20deg);
  -ms-transform: scale(1.1) rotate(-20deg);
  transform: scale(1.1) rotate(-20deg);
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}

/* CAROUSEL */
/* carousel 1*/
.contenu_carou_auto {
  margin: 3rem auto 1rem auto;
  width: 420px;
  height: 280px;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contenu_carou_auto {
    width: 320px;
    height: 215px;
    -webkit-perspective: 4000px;
    perspective: 4000px;
  }
}
@media screen and (max-width: 768px) {
  .contenu_carou_auto {
    display: none;
  }
}

.carousel-image {
  -webkit-animation: rotation 90s infinite alternate linear;
  animation: rotation 90s infinite alternate linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.carousel_img {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-filter: drop-shadow(0 12px 5px hsla(0, 0%, 0%, 0.4));
  filter: drop-shadow(0 12px 5px hsla(0, 0%, 0%, 0.4));
  width: 300px;
  height: 300px;
  outline: 1px solid transparent;
  /*backface-visibility: hidden;*/
  background-repeat: no-repeat;
  border-radius: 50%;
}

.carousel_img:nth-child(1) {
  background-image: url("../img/001.jpg");
  -webkit-transform: translate3d(0, 0, 495px);
  transform: translate3d(0, 0, 495px);
}

.carousel_img:nth-child(2) {
  background-image: url("../img/002.jpg");
  -webkit-transform: rotateY(40deg) translateZ(495px);
  transform: rotateY(40deg) translateZ(495px);
}

.carousel_img:nth-child(3) {
  background-image: url("../img/003.jpg");
  -webkit-transform: rotateY(80deg) translateZ(495px);
  transform: rotateY(80deg) translateZ(495px);
}

.carousel_img:nth-child(4) {
  background-image: url("../img/004.jpg");
  -webkit-transform: rotateY(120deg) translateZ(495px);
  transform: rotateY(120deg) translateZ(495px);
}

.carousel_img:nth-child(5) {
  background-image: url("../img/005.jpg");
  -webkit-transform: rotateY(160deg) translateZ(495px);
  transform: rotateY(160deg) translateZ(495px);
}

.carousel_img:nth-child(6) {
  background-image: url("../img/006.jpg");
  -webkit-transform: rotateY(200deg) translateZ(495px);
  transform: rotateY(200deg) translateZ(495px);
}

.carousel_img:nth-child(7) {
  background-image: url("../img/007.jpg");
  -webkit-transform: rotateY(240deg) translateZ(495px);
  transform: rotateY(240deg) translateZ(495px);
}

.carousel_img:nth-child(8) {
  background-image: url("../img/008.jpg");
  -webkit-transform: rotateY(280deg) translateZ(495px);
  transform: rotateY(280deg) translateZ(495px);
}
.carousel_img:nth-child(9) {
  background-image: url("../img/009.jpg");
  -webkit-transform: rotateY(320deg) translateZ(495px);
  transform: rotateY(320deg) translateZ(495px);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotatey(0);
    transform: rotatey(0);
  }
  to {
    -webkit-transform: rotatey(1turn);
    transform: rotatey(1turn);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotatey(0);
    transform: rotatey(0);
  }
  to {
    -webkit-transform: rotatey(1turn);
    transform: rotatey(1turn);
  }
}

.fa-search-plus {
  color: #4682b4;
  font-size: 25px;
  margin: 10px 0 0 10px;
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.fa-search-plus:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}
/* carousel 2*/
.jpousong_diapo {
  display: none;
}
@media screen and (max-width: 768px) {
  .jpousong_diapo {
    display: table;
  }

  .jpousong_diapo input {
    position: absolute;
    left: -9999px;
  }

  .jpousong_diapo {
    position: relative;
    text-align: center;
    margin: 0 auto;
  }

  .contenu_ja {
    width: 250px;
    height: 250px;
    -webkit-perspective: 4000px;
    perspective: 4000px;
  }

  .jpousong {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    width: 250px;
    height: 250px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .jpousong img {
    position: absolute;
    top: 0;
    left: 0;
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    max-width: 100%;
  }

  .jpousong img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.8;
  }
  .jpousong img:nth-child(1) {
    -webkit-transform: translate3d(0, 0, 270px) scale(0.8);
    transform: translate3d(0, 0, 270px) scale(0.8);
  }
  .jpousong img:nth-child(2) {
    -webkit-transform: rotateY(40deg) translateZ(270px) scale(0.8);
    transform: rotateY(40deg) translateZ(270px) scale(0.8);
  }
  .jpousong img:nth-child(3) {
    -webkit-transform: rotateY(80deg) translateZ(270px) scale(0.8);
    transform: rotateY(80deg) translateZ(270px) scale(0.8);
  }
  .jpousong img:nth-child(4) {
    -webkit-transform: rotateY(120deg) translateZ(270px) scale(0.8);
    transform: rotateY(120deg) translateZ(270px) scale(0.8);
  }
  .jpousong img:nth-child(5) {
    -webkit-transform: rotateY(160deg) translateZ(270px) scale(0.8);
    transform: rotateY(160deg) translateZ(270px) scale(0.8);
  }
  .jpousong img:nth-child(6) {
    -webkit-transform: rotateY(200deg) translateZ(270px) scale(0.8);
    transform: rotateY(200deg) translateZ(270px) scale(0.8);
  }
  .jpousong img:nth-child(7) {
    -webkit-transform: rotateY(240deg) translateZ(270px) scale(0.8);
    transform: rotateY(240deg) translateZ(270px) scale(0.8);
  }
  .jpousong img:nth-child(8) {
    -webkit-transform: rotateY(280deg) translateZ(270px) scale(0.8);
    transform: rotateY(280deg) translateZ(270px) scale(0.8);
  }
  .jpousong img:nth-child(9) {
    -webkit-transform: rotateY(320deg) translateZ(270px) scale(0.8);
    transform: rotateY(320deg) translateZ(270px) scale(0.8);
  }

  .jpousong_diapo input[type="radio"] + label {
    cursor: pointer;
    background: hsl(203, 77%, 81%);
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    height: 20px;
  }

  .jpousong_diapo input[type="radio"]:checked + label {
    background: #4682b4;
  }

  .jpousong_diapo label {
    background: #4682b4;
  }

  .jpousong_diapo
    input[name="rotation"]:checked
    ~ .contenu_ja
    .jpousong
    img:nth-child(n) {
    -webkit-filter: drop-shadow(12px 12px 7px hsla(0, 0%, 0%, 0.5));
    filter: drop-shadow(12px 12px 7px hsla(0, 0%, 0%, 0.5));
  }

  /*gauche*/
  .jpousong_diapo #ja_un:checked ~ .contenu_ja .jpousong {
    -webkit-transform: translateZ(-270px);
    transform: translateZ(-270px);
  }
  .jpousong_diapo #ja_deux:checked ~ .contenu_ja .jpousong {
    -webkit-transform: translateZ(-270px) rotateY(-40deg);
    transform: translateZ(-270px) rotateY(-40deg);
  }
  .jpousong_diapo #ja_trois:checked ~ .contenu_ja .jpousong {
    -webkit-transform: translateZ(-270px) rotateY(-80deg);
    transform: translateZ(-270px) rotateY(-80deg);
  }
  .jpousong_diapo #ja_quatre:checked ~ .contenu_ja .jpousong {
    -webkit-transform: translateZ(-270px) rotateY(-120deg);
    transform: translateZ(-270px) rotateY(-120deg);
  }
  .jpousong_diapo #ja_cinq:checked ~ .contenu_ja .jpousong {
    -webkit-transform: translateZ(-270px) rotateY(-160deg);
    transform: translateZ(-270px) rotateY(-160deg);
  }
  .jpousong_diapo #ja_six:checked ~ .contenu_ja .jpousong {
    -webkit-transform: translateZ(-270px) rotateY(-200deg);
    transform: translateZ(-270px) rotateY(-200deg);
  }
  .jpousong_diapo #ja_sept:checked ~ .contenu_ja .jpousong {
    -webkit-transform: translateZ(-270px) rotateY(-240deg);
    transform: translateZ(-270px) rotateY(-240deg);
  }
  .jpousong_diapo #ja_huit:checked ~ .contenu_ja .jpousong {
    -webkit-transform: translateZ(-270px) rotateY(-280deg);
    transform: translateZ(-270px) rotateY(-280deg);
  }
  .jpousong_diapo #ja_neuf:checked ~ .contenu_ja .jpousong {
    -webkit-transform: translateZ(-270px) rotateY(-320deg);
    transform: translateZ(-270px) rotateY(-320deg);
  }

  /*droite*/
  .jpousong_diapo #ja_un:checked ~ .contenu_ja .jpousong img:nth-child(1) {
    -webkit-transform: translateZ(270px) scale(1);
    transform: translateZ(270px) scale(1);
    opacity: 1;
  }
  .jpousong_diapo #ja_deux:checked ~ .contenu_ja .jpousong img:nth-child(2) {
    -webkit-transform: rotateY(40deg) translateZ(270px) scale(1);
    transform: rotateY(40deg) translateZ(270px) scale(1);
    opacity: 1;
  }
  .jpousong_diapo #ja_trois:checked ~ .contenu_ja .jpousong img:nth-child(3) {
    -webkit-transform: rotateY(80deg) translateZ(270px) scale(1);
    transform: rotateY(80deg) translateZ(270px) scale(1);
    opacity: 1;
  }
  .jpousong_diapo #ja_quatre:checked ~ .contenu_ja .jpousong img:nth-child(4) {
    -webkit-transform: rotateY(120deg) translateZ(270px) scale(1);
    transform: rotateY(120deg) translateZ(270px) scale(1);
    opacity: 1;
  }
  .jpousong_diapo #ja_cinq:checked ~ .contenu_ja .jpousong img:nth-child(5) {
    -webkit-transform: rotateY(160deg) translateZ(270px) scale(1);
    transform: rotateY(160deg) translateZ(270px) scale(1);
    opacity: 1;
  }
  .jpousong_diapo #ja_six:checked ~ .contenu_ja .jpousong img:nth-child(6) {
    -webkit-transform: rotateY(200deg) translateZ(270px) scale(1);
    transform: rotateY(200deg) translateZ(270px) scale(1);
    opacity: 1;
  }
  .jpousong_diapo #ja_sept:checked ~ .contenu_ja .jpousong img:nth-child(7) {
    -webkit-transform: rotateY(240deg) translateZ(270px) scale(1);
    transform: rotateY(240deg) translateZ(270px) scale(1);
    opacity: 1;
  }
  .jpousong_diapo #ja_huit:checked ~ .contenu_ja .jpousong img:nth-child(8) {
    -webkit-transform: rotateY(280deg) translateZ(270px) scale(1);
    transform: rotateY(280deg) translateZ(270px) scale(1);
    opacity: 1;
  }
  .jpousong_diapo #ja_neuf:checked ~ .contenu_ja .jpousong img:nth-child(9) {
    -webkit-transform: rotateY(320deg) translateZ(270px) scale(1);
    transform: rotateY(320deg) translateZ(270px) scale(1);
    opacity: 1;
  }
}

/***** end carousel *****/
/***** END FOOTER *****/

a:hover {
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;

  font-style: italic;
  color: ivory;
}
a:link {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
a:visited {
  color: #000;
}

/***** CURSEUR GUITARE *****/
/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec85.cur), auto !important;
}
/* End https://www.cursors-4u.com */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* DATE */
/*#date {
  position: relative;
  text-align: end;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-right: 1rem;
  color: ivory;
}*/
