*,
*:after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Impact, Georgia, Arial;
  background-color: ivory;
  padding: 0;
  box-sizing: border-box;
}

#bloc_page {
  width: 1000px;
  margin: auto;
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: bold;
}

header,
main,
section {
  margin: 40px auto;
}

/***** LOADING SPINNER *****/
.loader {
  height: 100vh;
  animation: spin 5s 1.5s both;
}
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.wave {
  width: 10px;
  height: 200px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave span {
  color: ivory;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  to {
    opacity: 0;
    height: 0;
    width: 0;
  }
}

/***** HEADER *****/

#entete1 {
  display: flex;
  flex-direction: column;
}
#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#logo img {
  width: 250px;
  height: 76px;
}
header {
  background-image: url("../img/separateur.png");
  background-repeat: repeat-x;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: auto;
}
nav li {
  margin-right: 15px;
  margin-bottom: 15px;
}

/***** BANNIERE *****/
#entete2 {
  margin-top: 15px;
  height: 200px;
  border-radius: 5px;
  background: url("../img/bcgd003.jpg") no-repeat;
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;
  margin: 40px;
}
#banniere {
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
  width: 99.5%;
  height: 33px;
  padding-top: 15px;
  padding-left: 4px;
  background-color: rgba(24, 24, 24, 0.8);
  color: ivory;
  font-size: 0.8em;
}
.boutonrouge {
  height: 25px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: url("../img/fond_degraderouge.png") repeat-x;
  border: 1px solid #760001;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  padding: 3px 8px 0px 8px;
  color: ivory;
  text-decoration: none;
}
.boutonrouge img {
  border: 0;
}

/***** MAIN *****/
.presentation {
  text-align: center;
}

/***** SECTION *****/
.liens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
}
.liens img {
  height: 75px;
  padding: 0 50px;
}
.fa-envelope-square {
  color: ivory;
}
.fa-youtube {
  color: red;
}
.fa-facebook {
  background-color: ivory;
  border-radius: 50%;
  padding: 1px;
}

/***** FOOTER *****/
/*#footer {

}*/
.fred {
  position: fixed;
  bottom: 0;
  padding: 10px;
  text-align: start;
  font-size: 10px;
  width: 100%;
  color: grey;
}

/* DATE */
#date {
  position: relative;
  text-align: end;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-right: 1rem;
  color: grey;
}

/* CAROUSEL */
.container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face {
  position: absolute;
  width: 300px;
  height: 300px; /*187px*/
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
}

.carousel__face:nth-child(1) {
  background-image: url("../img/001.jpg");
  transform: rotateY(0deg) translateZ(430px);
}
.carousel__face:nth-child(2) {
  background-image: url("../img/002.jpg");
  transform: rotateY(40deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
  background-image: url("../img/003.jpg");
  transform: rotateY(80deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
  background-image: url("../img/004.jpg");
  transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) {
  background-image: url("../img/005.jpg");
  transform: rotateY(160deg) translateZ(430px);
}
.carousel__face:nth-child(6) {
  background-image: url("../img/006.jpg");
  transform: rotateY(200deg) translateZ(430px);
}
.carousel__face:nth-child(7) {
  background-image: url("../img/007.jpg");
  transform: rotateY(240deg) translateZ(430px);
}
.carousel__face:nth-child(8) {
  background-image: url("../img/008.jpg");
  transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
  background-image: url("../img/009.jpg");
  transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.fa-search-plus {
  color: ivory;
}

a:hover {
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;

  font-style: italic;
  color: ivory;
}
a:link {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
a:visited {
  color: black;
}

/***** CURSEUR GUITARE *****/
/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec85.cur), auto !important;
  /*  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important; */
}
/* End https://www.cursors-4u.com */
