*,
*:after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Impact, Georgia, Arial;
  background-color: #b0c4de;
  padding: 0;
  box-sizing: border-box;
}

#bloc_page {
  width: 1000px;
  margin: auto;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #bloc_page {
    width: 750px;
  }
}
@media screen and (max-width: 768px) {
  #bloc_page {
    width: 500px;
  }
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
h1 {
  color: #fff;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
    margin-top: -10px;
  }
  .presentation {
    font-size: 0.75rem;
  }
}
header,
main,
section {
  margin: 40px auto;
}

/***** LOADING SPINNER *****/
.loader {
  height: 100vh;
  animation: spin 5s 1.5s both;
}
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.wave {
  width: 10px;
  height: 200px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave span {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  to {
    opacity: 0;
    height: 0;
    width: 0;
  }
}

/***** HEADER *****/

#entete1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  justify-items: center;
  margin: 20px;
}
.logo {
  grid-area: 1 / 3 / 2 / 7;
  width: 50%;
  border-radius: 15% 30% 15% 30%;
}
.logo img {
  border-radius: 30% 10% 30% 10%;
}
.btn {
  text-align: center;
  width: 60px;
  height: 60px;
  padding-top: 12px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #000;
  transition: 0.7s;
  /*-webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;*/
  font-size: 22px;
  color: #000;
}
.btn:hover {
  transform: rotate(30deg);
  background-color: #4682b4;
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}
.fa-info:hover,
.fa-camera:hover,
.fa-icons:hover,
.fa-envelope:hover {
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}
.btn1 {
  grid-area: 1 / 1 / 2 / 2;
}
.btn2 {
  grid-area: 1 / 2 / 2 / 3;
}
.btn3 {
  grid-area: 1 / 7 / 2 / 8;
}
.btn4 {
  grid-area: 1 / 8 / 2 / 9;
}

@media screen and (max-width: 768px) {
  #entete1 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .logo {
    grid-area: 1 / 1 / 2 / 5;
  }
  .btn {
  }
  .btn1 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .btn2 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .btn3 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .btn4 {
    grid-area: 2 / 4 / 3 / 5;
  }
}

/***** BANNIERE *****/
@media screen and (max-width: 768px) {
  #entete2 {
    display: none;
  }
}
#entete2 {
  margin-top: 15px;
  height: 200px;
  border-radius: 5px;
  background: url("../img/bcgd003.jpg") no-repeat;
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;
  margin: 40px;
}
#banniere {
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
  width: 99.5%;
  height: 33px;
  padding-top: 15px;
  padding-left: 4px;
  background-color: rgba(24, 24, 24, 0.8);
  color: ivory;
  font-size: 0.8em;
}

/***** MAIN *****/
.presentation {
  text-align: center;
}

/***** SECTION *****/
.liens1 {
  display: none;
}
@media screen and (max-width: 768px) {
  .liens1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .liens1 img {
    height: 60px;
    padding: 0 50px;
    transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .liens1 img:hover {
    transform: scale(1.2) rotate(30deg);
    cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
  }
}
.liens2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
}
.liens2 img {
  height: 75px;
  padding: 0 50px;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.liens2 img:hover {
  transform: scale(1.2);
  background-color: #4682b4;
  border-radius: 60%;
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}
@media screen and (max-width: 768px) {
  .liens2 {
    display: none;
  }
}

/***** FOOTER *****/
/*#footer {

}*/
.fred {
  position: fixed;
  bottom: 0;
  padding: 10px;
  text-align: start;
  font-size: 10px;
  width: 100%;
  color: ivory;
}

.hautpage {
  font-size: 2em;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 768px) {
  .hautpage {
    font-size: 1.5em;
  }
}
.fa-arrow-alt-circle-up {
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.fa-arrow-alt-circle-up:hover {
  transform: scale(1.1) rotate(-20deg);
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}

/* DATE */
#date {
  position: relative;
  text-align: end;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-right: 1rem;
  color: ivory;
}

/* CAROUSEL */
.container {
  /*position: relative;*/
  width: 320px;
  margin: 0 auto;
  perspective: 1000px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 200px;
    perspective: 10000px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 50px;
  }
}

.carousel {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 100s infinite forwards linear;
}
.carousel__face {
  position: absolute;
  width: 300px;
  height: 300px; /*187px*/
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
  cursor: zoom-in;
}

.carousel__face:nth-child(1) {
  background-image: url("../img/001.jpg");
  transform: rotateY(0deg) translateZ(430px);
}
.carousel__face:nth-child(2) {
  background-image: url("../img/002.jpg");
  transform: rotateY(40deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
  background-image: url("../img/003.jpg");
  transform: rotateY(80deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
  background-image: url("../img/004.jpg");
  transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) {
  background-image: url("../img/005.jpg");
  transform: rotateY(160deg) translateZ(430px);
}
.carousel__face:nth-child(6) {
  background-image: url("../img/006.jpg");
  transform: rotateY(200deg) translateZ(430px);
}
.carousel__face:nth-child(7) {
  background-image: url("../img/007.jpg");
  transform: rotateY(240deg) translateZ(430px);
}
.carousel__face:nth-child(8) {
  background-image: url("../img/008.jpg");
  transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
  background-image: url("../img/009.jpg");
  transform: rotateY(320deg) translateZ(430px);
}
.carousel__face a {
  background-size: 200%;
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.fa-search-plus {
  color: ivory;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.fa-search-plus:hover {
  transform: scale(1.4);
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;
}

a:hover {
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec82.cur), auto !important;

  font-style: italic;
  color: ivory;
}
a:link {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
a:visited {
  color: #000;
}

/***** CURSEUR GUITARE *****/
/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec85.cur), auto !important;
}
/* End https://www.cursors-4u.com */
